<ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
        <li class="nav-item"><a class="nav-link" href="#">Overview</a></li>
        <li class="nav-item"><a class="nav-link" href="dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="cases">Cases</a></li>
        <li class="nav-item"><a class="nav-link" href="tasks">Tasks</a></li>
        <li class="nav-item"><a class="nav-link" href="calendar">Calendar</a></li>
        <li class="nav-item"><a class="nav-link" href="reports">Reports</a></li>
        <li class="nav-item"><a class="nav-link" href="settings">Settings</a></li>
</ul>