<!--<router-outlet name="sidebar"></router-outlet>-->
<html>
    <head>
    </head>

    <body>
        <div class="nav-side-menu">
            <div class="brand">FiDo</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          
                <div class="menu-list">
          
                    <ul id="menu-content" class="menu-content collapse out">
                        <a routerLink="/"><li>Welcome</li></a>
                        <a routerLink="/dashboard"><li>Dashboard</li></a>
                        <a routerLink="/cases"><li>Cases</li></a>
                        <a routerLink="/tasks"><li>Tasks</li></a>
                        <a routerLink="/calendar"><li>Calendar</li></a>
                        <a routerLink="/reports"><li>Reports</li></a>
                        <a routerLink="/settings"><li>Settings</li></a>
                    </ul>
             </div>
        </div>
        
        <div class="container">
          <router-outlet></router-outlet>
        </div>
    </body>
</html>
