@import 'src/assets/sass/variables';

a {
    color: inherit;
}

li a:hover {
    background-color: $navbarColor;
    color: white;
}

.active-link {
    background-color: $navbarColor;
    color: white;
}